:root {
    /* Basic Colors */
    --dark80: #191C1E;
    --light: #F8F8F8;

    /* Secondary Colors */
    --dark70: #24292C;
    --dark60: #373E42;
    --dark50: #444C51;
    --dark40: #60676B;

    /* System Colors */
    --blue: #69B7FF;

    /* Hover Colors */
}
