:root {
    /* Basic Colors */
    --dark80: #191C1E;
    --dark70: #24292C;
    --dark60: #373E42;
    --light: #F8F8F8;

    /* Secondary Colors */
    --gray: #9EABB3;

    /* System Colors */
    --blue: #69B7FF;

    /* Hover Colors */
}
