.select {
    position: relative;
    z-index: 1;

    &__inner {
        position: relative;
    }

    &__control {
        border: 1px solid var(--dark40);
        box-sizing: border-box;
        cursor: pointer;
        height: 55px;
        outline: none;
        position: relative;
        width: 100%;
        z-index: 11;
    }

    &__icon-box {
        display: flex;
        align-items: center;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
    }

    &__icon {
        transform: rotate(0);
        transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
    }

    &__title {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        outline: none;
    }

    &__title_placeholder {
        color: color(var(--light), 50%);
    }

    &__title-inner {
        flex-grow: 1;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        margin: 0 45px 0 20px;
        display: flex;
        align-items: center;
        height: 100%;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 40px;
        }
    }

    &__require-mark {
        font-size: 20px;
        line-height: 0;
        color: red;
        margin-left: 1px;
    }

    &__list {
        display: none;
        position: absolute;
        z-index: 10;
        top: 100%;
        right: 0;
        left: 0;
        background-color: var(--dark70);
        box-shadow: 0 0 15px 0 rgb(0 0 0 / 45%);
    }

    &__list-inner {
        padding: 10px 0;
        box-sizing: border-box;
        max-height: 368px;
        overflow-y: auto;
    }

    &__list-item {
        background-color: var(--dark70);
        cursor: pointer;
        padding: 8px 32px;
        transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;

        &_active {
            background-color: var(--dark50);
        }
    }

    &__item-title {
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        flex-grow: 1;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 40px;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), @clearWhite);
        }
    }

    &__list-item_active &__item-title {
        &:after {
            background: linear-gradient(to right, rgba(255, 255, 255, 0), @spbSky0);
        }
    }

    &__not-found {
        padding: 8px 32px;
        opacity: 0.5;
    }

    &__text {
        font-size: 12px;
        line-height: 16px;
        margin-top: 4px;
    }

    &__highlighted-fragment {
        font-weight: 700;
    }

    &_open {
        z-index: 100;
    }

    &_open &__icon {
        transform: rotate(180deg);
    }

    &_open &__list {
        display: block;
        border-color: var(--light);
    }

    &_open &__control {
        border-color: var(--light);
    }

    &_disabled &__control {
        background-color: var(--dark70);
        pointer-events: none;
        user-select: none;
    }

    &_disabled &__title-inner:after {
        display: none;
    }
}
