.publications {
    @media (--mobile) {
        padding-bottom: 60px;
        padding-top: 20px;
    }

    @media (--desktop) {
        padding-bottom: 80px;
        padding-top: 50px;
    }

    h1&__title {
        @mixin h1-custom;
        margin-bottom: 10px;

        @media (--mobile) {
            color: var(--paleLight);
            margin-bottom: 20px;
            position: relative;
            width: 100%;

            &:after {
                background-color: var(--paleLight);
                content: '';
                display: block;
                height: 1px;
                margin-top: 5px;
                width: 100%;
            }
        }
    }

    &__subtitle {
        margin-bottom: 30px;
    }

    &__year {
        &:not(:last-child) {
            border-bottom: 1px solid var(--dark60);
            margin-bottom: 25px;
            padding-bottom: 25px;
        }
    }

    &__content-title {
        margin-bottom: 20px;
    }
}
