.facilities {
  border-bottom: 1px solid var(--dark60);

  @media (--mobileB) {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  @media (--desktop) {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  &__container {
    @media (--mobileB) {
      margin-bottom: 40px;
    }

    @media (--desktop) {
      margin-bottom: 60px;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__subtitle {
    margin-bottom: 20px;
  }

  &__paragraph {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  &__video-box {
    height: 0;
    padding-bottom: 61%;
    position: relative;
    width: 100%;
  }

  &__video {
    border: none;
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__content {
    @media (--mobileB) {
      margin-bottom: 30px;
    }
  }

  &__column_no-padding {
    @media (--mobileB) {
      padding-bottom: 0;
    }
  }

  &__column_order_1 {
    @media (--mobileB) {
      order: 1;
    }
  }

  &__column_order_2 {
    @media (--mobileB) {
      order: 2;
    }
  }
}
