$b: .header;

$(b) {
  background-color: var(--dark80);
  /* border-bottom: 1px solid var(--light); */
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 45%);
  box-sizing: border-box;
  height: 85px;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__logo-image-wrap {
    margin-right: 10px;
    width: 30px;
  }

  &__logo-image {
    width: 100%;
  }

  &__logo-text {
    color: var(--light);
    font-size: 30px;
  }

  &__list {
    display: flex;
  }

   &__item {
    cursor: pointer;
    position: relative;

    &:after {
      background-color: var(--light);
      content: '';
      height: 2px;
      position: absolute;
      bottom: -5px;
      left: 0;
      transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
      transform-origin: right;
      transform: scaleX(0);
      width: 100%;
    }
  }

  &__link {
    color: var(--light);
    display: flex;
    align-items: center;
    height: 85px;
    font-size: 20px;
    margin-left: 65px;
    text-decoration: none;

    &:hover, &_active {
      $(b)__item {
        color: var(--light);

        &:after {
          transform-origin: left;
          transform: scaleX(1);
        }
      }
    }
  }
}
