.banner {
  border-bottom: 1px solid var(--dark60);
  position: relative;

  &__image {
    background-size: cover;
    background-position: top center;
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;

    @media (--mobile) {
      top: -50px;
      padding-top: 50px;
    }

    @media (--desktop) {
      padding-top: 70px;
      top: -70px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 5;
  }

  &__content {
    max-width: 700px;
    position: relative;
    top: -70px;
    text-align: center;

    @media (--mobileB) {
      max-width: none;
    }

    @media (--mobile) {
      top: -30px;
    }
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;
  }

  &__paragraph {
    @mixin bigText;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;

    @media (--mobileB) {
      margin-left: auto;
      margin-right: auto;
      max-width: 700px;
    }
  }

  &__arrow-down {
    animation: arrowMoving 1s linear infinite;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: absolute;
    left: calc(50% - 25px);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
    width: 50px;
    z-index: 10;

    @media (--mobile) {
      bottom: 20px;
    }

    @media (--desktop) {
      bottom: 50px;
    }
  }

  &__arrow-down:hover {
    background-color: var(--dark70);
  }
}

@keyframes arrowMoving {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }
}
