.banner {
  border-bottom: 1px solid var(--dark60);
  position: relative;

  &:before {
    background: linear-gradient(180deg, rgba(25, 28, 30, 0) 0%, rgba(25, 28, 30, 0.3) 61.77%, rgba(25, 28, 30, 0.7) 73.24%, rgba(25, 28, 30, 0.9) 100%);
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }

  &:after {
    background: radial-gradient(50% 50% at 50% 50%, rgba(17, 18, 25, 0.6) 0%, rgba(17, 18, 25, 0.5) 68.75%, rgba(25, 28, 30, 0) 100%, rgba(17, 18, 25, 0) 100%);
    border-radius: 50%;
    content: '';
    height: 900px;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
    z-index: 3;

    @media (--mobileSM) {
      height: 600px;
      top: 0;
      width: 650px;
    }
  }

  &__image {
    background-size: cover;
    background-position: top center;
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;

    @media (--mobile) {
      top: -50px;
      padding-top: 50px;
    }

    @media (--desktop) {
      padding-top: 70px;
      top: -70px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 5;
  }

  &__content {
    max-width: 700px;
    position: relative;
    top: -70px;
    text-align: center;

    @media (--mobileB) {
      max-width: none;
    }

    @media (--mobile) {
      top: -30px;
    }
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;
  }

  &__paragraph {
    @mixin bigText;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;

    @media (--mobileB) {
      margin-left: auto;
      margin-right: auto;
      max-width: 700px;
    }
  }

  &__arrow-down {
    animation: arrowMoving 1s linear infinite;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: absolute;
    left: calc(50% - 25px);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
    width: 50px;
    z-index: 10;

    @media (--mobile) {
      bottom: 20px;
    }

    @media (--desktop) {
      bottom: 50px;
    }
  }

  &__arrow-down:hover {
    background-color: var(--dark70);
  }
}

@keyframes arrowMoving {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }
}
